<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="h2 my-3 d-flex justify-content-center">Movies to watch 🍿</h1>

      <!-- I need a search bar here -->

        <%= render "list", movies: @movies %>
      </div>
    </div>
  </div>
</div>
